@import url("https://fonts.googleapis.com/css2?family=Sometype+Mono:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Sometype Mono", monospace;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d6ff79;
  color: #5f00ba;
}

li {
  list-style: none;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  font-weight: 600;
}

.game {
  position: relative;
  max-width: 400px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  overflow: hidden;
}

.game-container {
  display: grid;
  grid-template-columns: 170px 1fr;
}

.game-correct-letter {
  margin: 0 auto;
  grid-column-start: 1;
  grid-column-end: 3;
}

.question-block {
  margin-bottom: 20px;
}

.question {
  min-height: 40px;
  width: 100%;
  cursor: pointer;
  text-align: center;
  margin-bottom: 10px;
}

.hint {
  transition: all 0.5s ease;
  transform: translateX(calc(-100% - 10px));
}

.hint.active {
  transform: translateX(0%);
}

.game-correct-letter {
  display: flex;
}

.game-wrong-letter li {
  color: #bb9f06;
}

.letter {
  border-bottom: 3px solid #a7bbec;
  display: inline-flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
  height: 50px;
  width: 20px;
}

.notification-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: calc(100% - 20px);
  background-color: aqua;
  display: none;
  z-index: 10;
}

.overlay {
  display: none;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(71, 75, 36, 0.2);
}

.notification-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: aqua;
  width: calc(100% - 20px);
  z-index: 20;
}

.notification-popup button {
  margin-top: 20px;
  background-color: transparent;
  color: #5f00ba;
  padding: 10px 20px;
  border: 1px solid #5f00ba;
  transition: all 0.5s ease;
  cursor: pointer;
}

.notification-popup button:hover {
  background-color: #5f00ba;
  border-color: transparent;
  color: aqua;
}

.figure-container {
  fill: transparent;
  stroke: #474b24;
  stroke-width: 4px;
  stroke-linecap: round;
}

.figure-container .figure-part {
  stroke: #c493b0;
}

.figure-part {
  display: none;
}

.input-block p {
  margin-top: 20px;
}

.game-input {
  padding: 10px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}

.input-block {
  display: none;
}

/* Show input for smaller screens (e.g., phones and tablets) */
@media (max-width: 768px) {
  .input-block {
    display: block;
  }
}
